::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.app{
    background-color: rgb(231, 231, 231);
    font-family: 'vazirmatn';
    transition: all 0.2s;
    min-height: 100vh;
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
    margin: 0 !important;
}
.darkmode{
    background-color: rgb(20, 20, 20);
}
@media (max-width: 400px){
    .app{
        font-size: 14px;
    }
}